wheel==0.23.0
argparse>=1.2.1
numpy>=0.9.1
scipy>=0.15.1
more_itertools>=2.2
joblib>=0.8.3-r1
gensim==0.10.3
statsmodels>=0.5.0
changepoint>=0.1.0
nltk>=3.0.0
textblob>=0.9.0
textblob-aptagger>=0.2.0
